@tailwind base;
@tailwind components;
@tailwind utilities;

.multiselect {
    filter: invert(1);
}

.multiselect__option--highlight, .multiselect__option--highlight::after {
    background: #732e54 !important;
}

.multiselect__tag {
    filter: invert(1);
}